.square
{
    width: 90px;
    height: 90px;
    justify-content: center;
    position: relative;
    align-items: center;
    float: left;
}


.gameboard
{
    width: 810px;
    height: 810px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto
    

}

.black
{
    background-color: #b58863;
}

.white
{
    background-color: #f0d9b5;
}

@media (min-width:600px)
{
    .gameboard
    {
        width:810px;
        height: 810px;
    }
}

.cordl
{
   
   font-size: 35px;
   text-align: center;
   font-style: arial;

}


.cord
{
    text-align: center;
    font-size: 35px;
    left: 27px;
    top: 30px;
    
}

.piece img{
    max-width: 100%;
    width: 100%;
    height: auto;
}

.piece{
    
    width: 100%;
    z-index: 1;
    cursor: pointer;
}


